<body class="container">
  <header>
    <h1>Bucket Trip</h1>
    <p>Start creating your travel wish list</p>
  </header>
  <section>
    <img src="http://www.dronestagr.am/wp-content/uploads/2016/06/photo_2015-11-13_12-08-51-1200x800.jpg" name="hong kong">
    <img src="http://www.dronestagr.am/wp-content/uploads/2016/08/DJI_0385-1200x800.jpg" name="lithuania">
    <img src="http://www.dronestagr.am/wp-content/uploads/2016/06/summer-camp-1200x800.jpg" name="spain">
    <img src="http://www.dronestagr.am/wp-content/uploads/2016/07/image-232-1200x800.jpeg" name="mexico">
    <img src="http://www.dronestagr.am/wp-content/uploads/2016/07/20160728_crathie-1-of-1-29-1200x800.jpg" name="inited kingdom">
    <img src="http://www.dronestagr.am/wp-content/uploads/2016/07/DJI_0278-1-1200x800.jpg" name="turkey">
    <img src="http://www.dronestagr.am/wp-content/uploads/2016/07/0322-Fraum%C3%BCnster-und-Grossm%C3%BCnster-1200x800.jpg" name="switzerland">
    <img src="http://www.dronestagr.am/wp-content/uploads/2016/07/fusquinha-4-1-1200x800.jpg" name="brazil">
    <img src="http://www.dronestagr.am/wp-content/uploads/2016/06/Death-Flag-1200x800.jpg" name="australia">
    <img src="http://www.dronestagr.am/wp-content/uploads/2016/06/244-1200x800.jpg" name="egypt">
  </section>
  <div class="row">
    <div class="info six-columns">
        <h2>Information</h2>
    </div>
    <div class="bucket six-columns">
        <h2>Bucket Trip</h2>
    </div>
  </div>
</body>

